

.dformin {
	border: 1px solid #dfdfdf; background-color: #efefef; MARGIN: 0px 0px 0px;
}
.dformininside {
    width: 100%; padding: 10px;
}
.dforminctf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 100%;
	RIGHT: -1px; TOP: -1px;
	BACKGROUND: url(../images/dgray_cortr.gif) no-repeat right top;
}
.dforminctf .clf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 5px;
	LEFT: -2px;
	BACKGROUND: url(../images/dgray_cortl.gif) no-repeat left top;
}
.dformincbf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 100%;
	RIGHT: -1px; BOTTOM: -1px;
	BACKGROUND: url(../images/dgray_corbr.gif) no-repeat right bottom;
}
.dformincbf .clf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 5px;
	LEFT: -2px;
	BACKGROUND: url(../images/dgray_corbl.gif) no-repeat left bottom;
}

/* for form */
.tformin {
    position:relative; float:left; width:100%;
}
.tformincom {
    width:850px;
}
.tforminleft {
    position:relative; float:left; width:45%;
}
.tforminrigh {
    position:relative; float:left; width:45%;
}
.tforminbrea {
    position:relative; float:left; width:9%;
}
.tformin .require {
    color:#f26522;
}

.rowcmd {
    position:relative; float:left; width:100%;
    margin-top:20px; padding-top:20px; 
    border-top:1px solid #cecdcb;
}
.rowcmd .button {
    font:normal 16px Arial, Tahoma, Verdana; color:#111;
    border: 1px solid #CCCCCC; background-color:#f0f0f0;
    padding:6px 4px; min-width:100px;
    cursor:pointer;
}
.rowcmd .left {
    position:relative; float:left; width:45%;
}
.rowcmd .righ {
    position:relative; float:left; width:45%;
}
.rowcmd .brea {
    position:relative; float:left; width:9%;
}

.row {
    position:relative; float:left; width:100%;
    margin-top:5px;
}
.row input[type='text'], .row input[type='password'] {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px #EEEEEE inset;
    padding:5px 4px; height:16px;
    width:100%;
}
.row textarea {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #eee inset;
    padding:5px 4px;
    width:100%;
}
.row select {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #eee inset;
    padding:5px 4px;
    width:100%;
}

.row .title {
    position:relative; float:left; width:100%;
    margin:5px 0;
}
.row .titleext {
    position:relative; float:left; width:100%;
    margin:5px 0;
    font-size:13px; font-weight:normal; color:#333;
}
.row .note {
    margin:5px 0;
    color:#555;
}

.row .boxctrll {
    position:relative; float:left; width:100%;
}
.row .boxctrlm {
    position:relative; float:left; width:75%;
}
.row .boxctrlc {
    position:relative; float:left; width:50%;
}
.row .boxctrls {
    position:relative; float:left; width:25%;
}
.row .ctrlrad td {
    width:120px;
}
.row .ctrlradwi td {
    width:200px;
}


.rowhor {
    position:relative; float:left; width:100%;
    margin-top:10px; text-align:left;
}
.rowhor a {
    cursor:pointer;
}
.rowhor input[type='text'], input[type='password'] {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px #EEEEEE inset;
    padding:5px 4px; height:16px;
    width:97%;
}
.rowhor input[type='file'] {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px #EEEEEE inset;
    padding:6px 4px; height:28px;
    width:97%;
}
.rowhor fieldset {
    font:normal 12px Arial, Tahoma, Verdana; color:#111;
    margin-top: 5px; padding:0;
    border-width:1px 0 0 0; border-top:1px solid #ccc;
}
.rowhor fieldset legend {
    font:bold 11px Arial, Tahoma, Verdana; color:#111;
    padding-right: 5px; margin-bottom:10px;
}
.rowhor fieldset div {
    padding: 5px;
}
.rowhor fieldset td {
    width:160px;
}

.rowhor .button {
    font:bold 14px Arial, Tahoma, Verdana; color:#111;
    border: 1px solid #CCCCCC; background-color:#f0f0f0;
    padding:6px 4px; min-width:100px;
    cursor:pointer;
}
.rowhor .buttonin {
    font:bold 12px Arial, Tahoma, Verdana; color:#111;
    border: 1px solid #CCCCCC; background-color:#f0f0f0;
    padding:6px 4px; min-width:70px;
    cursor:pointer;
}
.rowhor textarea {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 10px #EEEEEE inset;
    padding:5px 4px;
    width:97%;
}
.rowhor select {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #eee inset;
    padding:5px 4px;
    width:100%;
}
.rowhor .title {
    position:relative; float:left; width:25%; text-align:right; padding-right:15px;
    margin:5px 0;
}
.rowhor .titlel {
    position:relative; float:left; width:25%; text-align:left; padding-right:15px;
    margin:5px 0;
}
.rowhor .note {
    position:relative; float:left;
    margin:5px 5px;
    color:#555; font-size:11px; font-style:italic;
}
.rowhor .notenf {
    margin:5px 5px;
    color:#555; font-size:11px; font-style:italic;
}
.rowhor .margintb5 {
    margin:5px 0;
}



.rowhor .boxctrlnotit {
    position:relative; float:left; width:97%;
}
.rowhor .boxctrll {
    position:relative; float:left; width:70%;
}
.rowhor .boxctrlm {
    position:relative; float:left; width:55%;
}
.rowhor .boxctrlms {
    position:relative; float:left; width:45%;
}
.rowhor .boxctrlmext {
    position:relative; float:left; width:65%;
}
.rowhor .boxctrlc {
    position:relative; float:left; width:35%;
}
.rowhor .boxctrls {
    position:relative; float:left; width:15%;
}
.rowhor .boxctrl50 {
    position:relative; float:left; width:50px;
}
.rowhor .ctrlrad td {
    width:120px;
}
.rowhor .ctrlradwi td {
    width:200px;
}
/* for form */



.dformnoticeb {
    font:bold 12px Arial, Tahoma; color: #333;
    padding: 10px 0; margin:10px 0;
    position:relative; float:left; width:100%;
}
.dformnoticeb a {
    color: #0b55c4;
}
.dformnoticen {
    font:normal 12px Arial, Tahoma; color: #333;
    padding: 10px 0; margin:10px 0;
    position:relative; float:left; width:100%; 
}
.dformnoticen a {
    color: #0b55c4;
}

A.linkfpreview
{
	COLOR: #0b55c4; font-weight: normal; text-decoration: underline;
}
A.linkfpreview:hover
{
	text-decoration: underline;
}
A.linkfremove
{
	COLOR: #555; font-weight: normal; text-decoration: none;
}
A.linkfremove:hover
{
	color: #c61444; text-decoration: underline;
}

DIV.dformout
{
    width: 968px;
	border: 1px solid #dfdfdf; background-color: #efefef; MARGIN: 0px 0px 0px;
}
.dformoutinside
{
    width: 100%; padding: 9px;
}
.dformoutctf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 100%;
	RIGHT: -1px; TOP: -1px;
	BACKGROUND: url(../images/dgray_cortr.gif) no-repeat right top;
}
.dformoutctf .clf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 5px;
	LEFT: -2px;
	BACKGROUND: url(../images/dgray_cortl.gif) no-repeat left top;
}
.dformoutcbf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 100%;
	RIGHT: -1px; BOTTOM: -1px;
	BACKGROUND: url(../images/dgray_corbr.gif) no-repeat right bottom;
}
.dformoutcbf .clf
{
	DISPLAY: block; FONT-SIZE: 0px; MARGIN: 0px; LINE-HEIGHT: 0; POSITION: relative; HEIGHT: 5px; WIDTH: 5px;
	LEFT: -2px;
	BACKGROUND: url(../images/dgray_corbl.gif) no-repeat left bottom;
}


.dformoutcommand {
    position:relative; float:left; width: 100%;
    margin-bottom:10px;
}
.dformoutcommand .colfilter {
    position:relative; float:left; width: 35%;
}
.dformoutcommand .colsetting {
    position:relative; float:right; width: 60%;
    text-align: right;
}
.dformoutcommand a.command {
    font:bold 12px Arial, Tahoma, Verdana; color: #0b55c4;
}
.dformoutcommand a.command:hover {
    color: #c61444;
}
.dformoutlist {
    position:relative; float:left; width: 100%;
}

.colfilter td {
    padding:2px;
}
.colfilter .button {
    font:bold 12px Arial, Tahoma, Verdana; color:#111;
    border: 1px solid #CCCCCC; background-color:#f0f0f0;
    padding:0 4px; height:26px; min-width:70px;
    cursor:pointer;
}
.colfilter input[type='text'] {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #eee inset;
    padding:0 4px; padding-top:3px; height:21px;
    width:180px;
}
.colfilter select {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #eee inset;
    padding:4px 4px; height:26px; 
}

.colsetting .button {
    font:bold 12px Arial, Tahoma, Verdana; color:#111;
    border: 1px solid #CCCCCC; background-color:#f0f0f0;
    padding:0 4px; height:26px; min-width:70px;
    cursor:pointer;
}
.colsetting input[type='text'] {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #eee inset;
    padding:0 4px; padding-top:3px; height:21px;
    width:180px;
}
.colsetting select {
    font:normal 12px Arial, Tahoma, Verdana; color:#333;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #eee inset;
    padding:4px 4px; height:26px; 
}


.buttoncmd {
    background: url("../images/btn_bg.gif") repeat-x scroll 0 100% #FFAC47;
    border-color: #ED6502 #A04300 #A04300 #ED6502;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 12px arial,helvetica,sans-serif;
    padding: 0 7px 1px;
    text-align: center !important;
    white-space: nowrap;
}
.buttoncmd:hover {
     background: url("../images/btn_over_bg.gif") repeat-x scroll 0 0 #F77C16;
}
.buttoncmd:active {
     background: url("../images/btn_on_bg.gif") repeat-x scroll 0 0 #F77C16;
}

.lgridview {
    font:normal 12px Arial, Tahoma, Verdana; color: #111;
    width: 100%; border: 1px solid #ddd;
    line-height:18px;
}
.rowheader th {
    font:bold 12px Arial, Tahoma, Verdana; text-align: left;
    height: 26px; padding: 5px;
    background: url(../images/n_bg_head.png) repeat-x 0px 0px; border: 0px;
}
.rowheader th a {
    font-weight: bold; color: #111; text-decoration: none;
	display: block; padding-right: 10px;
}
.rowheader th.colright {
    text-align:right;
}    
.rowheader a:link, .rowheader a:visited, .rowheader a:hover {
	font-weight: bold; color: #111; text-decoration: none;
}
.rowheader .headerasc {
    background: url(../images/n_bg_head.png) repeat-x 0px -100px;
}
.rowheader .headerasc a {
    background: url(../images/dt-arrow-up.png) no-repeat right 50%;
}
.rowheader .headerdsc {
    background: url(../images/n_bg_head.png) repeat-x 0px -100px;
}
.rowheader .headerdsc a {
    background: url(../images/dt-arrow-dn.png) no-repeat right 50%;
} 

.rowormal td
{
    height: 30px; padding: 5px;
    background-color: #f2f2f2; border: 0px; border-bottom: 1px solid #ddd;
}
.rowalter td
{
    height: 30px; padding: 5px;
    background-color: #f7f7f7; border: 0px; border-bottom: 1px solid #ddd;
}
.rowormal td A, .rowalter td A
{
    color: #0b55c4; text-decoration: none;
}
.rowormal td A:hover, .rowalter td A:hover
{
    color: #0b55c4; text-decoration: underline;
}
.rowormal td A.command, .rowalter td A.command
{
    color: #0b55c4; text-decoration: underline; font-weight: normal;
}
.rowormal td A.command:hover, .rowalter td A.command:hover
{
    color: #0b55c4; text-decoration: underline; font-weight: normal;
}

.rowormal .rowaltersort, .rowalter .rowaltersort 
{
    background-color: #ccc;
}
.rowormal .rowsort, .rowalter .rowsort
{
    background-color: #ccc;
}

.rowormal td.cellselect
{
    height: 30px; padding: 5px; width:auto;
    background-color: #e6e6e6; border: 0px; border-bottom: 1px solid #ddd;
}
.rowalter td.cellselect
{
    height: 30px; padding: 5px; width:auto;
    background-color: #e6e6e6; border: 0px; border-bottom: 1px solid #ddd;
}
/* row selected */
.rowormalsel td
{
    height: 30px; padding: 5px;
    background-color: #ffffcc; border: 0px; border-bottom: 1px solid #ddd;
}
.rowaltersel td
{
    height: 30px; padding: 5px;
    background-color: #ffffcc; border: 0px; border-bottom: 1px solid #ddd;
}
.rowormalsel td A, .rowaltersel td A
{
    color: #0b55c4; text-decoration: none;
}
.rowormalsel td A:hover, .rowaltersel td A:hover
{
    color: #0b55c4; text-decoration: underline;
}
.rowormalsel .rowaltersort, .rowaltersel .rowaltersort 
{
    background-color: #ffffcc;
}
.rowormalsel .rowsort, .rowaltersel .rowsort
{
    background-color: #ffffcc;
}
/* row selected */

.lgridview .colnum, .rowheader .colnum
{
    width: 15px; text-align: center;
}
.colcheck
{
    width: 20px; text-align: center;
}
.colcode
{
    width: 100px;
}
.colpis
{
    width: 120px;
}
.colupdate {
    width: 160px; text-align: left; color: #555;
}
.colstatus {
    width: 80px;
}
.colprice {
    width: 80px; text-align:right;
}
.colorderd {
    width: 100px;
}
.colaction {
    width: 100px;
}
.colinfo1 {
    width: 100px;
}
.colinfo2 {
    width: 150px;
}
.colinfo2 img {
    margin-right:10px;
}
.colinfo3 {
    width: 200px;
}
.colinfo4 {
    width: 250px;
}
.colinfo5 {
    width: 300px;
}
.colnote {
    color: #555;
}
.colright {
    text-align:right;
}
/* gridView no border */
.lgridnoborder {
    font:normal 12px Arial, Tahoma; color: #111;
    border: 0px; width:100%;
}
.lgridnoborder .rowormal td {
    height: 20px; padding: 5px;
    border: 0px; background-color: #efefef;
}
.lgridnoborder .rowormal td a {
    color: #0b55c4; text-decoration: none;
}
.lgridnoborder .rowormal td a:hover {
    color: #0b55c4; text-decoration: underline;
}
/* */

.ingrdinput
{
    font:normal 11px Arial, Tahoma, Verdana; color: #111;
    width:50px; height:16px; border: 1px solid #aaa; padding-left: 2px; padding-top: 3px; text-align: center;
}
.ingrdbutton
{
    font:bold 11px Arial, Tahoma, Verdana; color: #111; cursor: pointer;
    height: 20px;
}
.ingrdimgcmd
{
    border: 0px; cursor: hand; vertical-align: middle;
}

.pagercontainer {
    width: 100%; background-color:#95b3de; padding:0px; text-align: right;
}
.pagercontrol {
    font:normal 14px Arial, Tahoma; color: #555;
    margin: 3px;
}
.pagercontrol a {
	color: #039;
}
.pagercontrol a:hover {
	color: #c61444;
}

.fieldset1
{
    FONT-FAMILY: Arial, Tahoma; FONT-SIZE: 11px; FONT-WEIGHT: normal; COLOR: #111;
    margin-top: 5px;
}
.fieldset1 LEGEND
{
    padding-right: 5px;
}
.fieldset1 DIV
{
    padding: 5px;
}

.ldatalist {
    font:normal 12px Arial, Tahoma; color: #111;
    border: 0px;
}
.ldatalist TD {
    font:normal 12px Arial, Tahoma; color: #111;
}
.ldatalist A {
    text-decoration: none;
}
.ldatalist A:hover {
    text-decoration: underline;
}
.ldatalist .imgpreview {
    width: 210px; height: 150px; border: 0px;
}
.ldatalist .swfpreview {
    width: 215px; height: 150px; border: 0px;
}
.ldatalist .flvpreview {
    width: 215px; height: 150px; border: 0px;
}
.ldatalist .vidpreview {
    width: 210px; height: 150px; border: 1px solid #ccc;
}
.ldatalist .audpreview {
    width: 210px; height: 45px; border: 0px;
}

.noticearea {
    position:relative; float:left;
	border: 1px solid #febf4b; background-color: #fefecc; padding: 5px; margin: 20px 0px 10px 30px;
	font:normal 11px Arial, Verdana; color: #333;
	line-height: 20px;
}

.popupControl {
    font:normal 12px Arial, Tahoma; color: #111;
    border: 1px solid #ccc; background-color: #fff;
    padding: 5px;
    width: 363px;
}

.managerupload {
    font:normal 11px Arial, Tahoma; color: #111;
    border: 0px;
}
.managerupload TD {
    font:normal 11px Arial, Tahoma; color: #111;
}
.managerupload A {
    text-decoration: none;
}
.managerupload A:hover {
    text-decoration: underline;
}
.managerupload .imgpreview {
    border: 0px;
}
.managerupload .swfpreview {
    width: 150px; border: 0px;
}
.managerupload .flvpreview {
    width: 150px; height: 135px; border: 0px;
}
.managerupload .vidpreview {
    width: 150px; height: 135px; border: 1px solid #ccc;
}
.managerupload .audpreview {
    width: 150px; height: 45px; border: 0px;
}

/*Modal Popup*/
.modalBackground {
    position:relative; float:left; width:100%;
	background-color:black;
	filter:alpha(opacity=75);
	opacity:0.75;
}
.modalPopup {
    position:absolute; float:left; width:100%; top:0;
    font:normal 12px Arial, Tahoma; color: #111;
	background-color:#ffffdd;
	border-width:3px; border-style:solid; border-color:Gray;
	padding:5px;
}
.modalDragHandle {
    position:relative; float:left; width:98%;
    cursor:move;background-color:#DDDDDD;border:solid 1px Gray;color:Black;padding:5px;
}

/*Tabs*/
/* root element for tabs  */
ul.tabs { 
    position:relative;float:left; width:100%;
	list-style:none; 
	margin:0 0 20px 0!important; 
	padding:0;
	height:36px;
	background:url(../images/tabs_ul_bg.gif) repeat-x bottom; background-color:#f8f8f8;
}
ul.tabs li { 
	float:left;	 
	text-indent:0;
	padding:0;
	margin:8px 10px 0 0;
	list-style-image:none !important; 
}
ul.tabs li.first { 
	margin-left:60px;
}
ul.tabs a { 
	font:normal 12px Arial, Verdana, Tahoma; color:#333; line-height:26px; 
	position:relative; display:block;
	height: 26px; min-width: 134px;
	text-align:center; text-decoration:none; white-space:nowrap;
	padding:0px 10px; margin:0px;
	background-color:#e2e2e2; border:1px solid #ccc;
}
ul.tabs a:active {
	outline:none;		
}
ul.tabs a:hover {
}
ul.tabs a.current, ul.tabs a.current:hover, ul.tabs li.current a {
	cursor:default !important; 
	color:#000 !important;
	background-color:#fff; border:1px solid #ccc; border-bottom:1px solid #fff;
	font-weight:bold;
}

.panes .tformin {
	display:none;
}
/*Tabs*/

.FPfilepreview {
    position:relative; float:left; width:100%;
    margin-bottom:20px;
}
.FPfilepreview .fpsource {
    position:relative; float:left; width:70%;
    margin-bottom:10px;
}
.FPfilepreview #FP_error {
    position:relative; float:left; width:100%;
    margin-left:5px; margin-top:5px;
    font-size:11px; color:#c61444;
}
.FPfilepreview #FP_pnlUpload {
    position:relative; float:left; width:100%;
}
.FPfilepreview #FP_pnlGet {
    position:relative; float:left; width:100%;
    display:none;
}
.FPfilepreview .fpbase {
    position:relative; float:left; width:75%;
}
.FPfilepreview .fpcomd {
    position:relative; float:left; width:20%;
    text-align:right; margin-left:4px; padding-top:5px;
}
.FPfilepreview .fplink {
    position:relative; float:left; width:100%;
    margin-top:10px;
}
.FPfilepreview .fplink a[id$='fileRemove'] {
    color:#c60;
}
.fppreview {
    position:relative; float:right; right:0; top:5px; width:75px; height:75px;
    border:1px solid #e7e7e7;
}
.fppreview img {
    width:75px; min-height:75px; border: 0px;
}

/*fileattach*/
.FAfileattach {
    position:relative; float:left; width:100%;
    margin-bottom:20px;
}
.FAfileattach .fasource {
    position:relative; float:left; width:100%;
    margin-bottom:10px;
}
.FAfileattach #FA_error {
    position:relative; float:left; width:100%;
    margin-left:5px; margin-top:5px;
    font-size:11px; color:#c61444;
}
.FAfileattach #FA_pnlUpload {
    position:relative; float:left; width:100%;
    margin-bottom:5px; margin-top:4px;
}
.FAfileattach #FA_pnlGet {
    position:relative; float:left; width:100%; margin-right:10px;
    display:none;
}
.FAfileattach .fahead {
    position:relative; float:left; width:100%;
    margin-bottom:10px;
    font-size:11px; font-weight:bold;
}
.FAfileattach .fahead td {
    font-size:11px; font-weight:bold;
    padding:2px; vertical-align:middle;
}
.FAfileattach .fabase {
    width:35%;
}
.FAfileattach .fanote {
    width:40%;
}
.FAfileattach .fasort {
    width:10%;
}
.FAfileattach .facomd {
    text-align:right;
}

#FA_listImage {
    position:relative; float:left; width:100%;
    margin-top:20px;
}
#FA_listImage .farowi {
    position:relative; float:left; width:100%;
    margin-top:10px; padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
}
#FA_listImage td {
    padding:2px; vertical-align:middle;
}
#FA_listImage .fabase {
    width:35%;
}
#FA_listImage .fanote {
    width:40%;
}
#FA_listImage .fasort {
    width:10%;
}
#FA_listImage .facomd {
    text-align:center;
}
#FA_listImage .facomd a {
    color:#c60;
}
#FA_listImage img {
    width:75px; border: 0px;
    border:1px solid #e7e7e7;
}


#RP_error {
    position:relative; float:left; width:100%;
    margin-left:5px; margin-top:5px;
    font-size:11px; color:#c61444;
}
.RP_listselectedProduct  {
    position:relative; float:left; width:100%;
    margin-top:20px;
}
.RP_listselectedProduct .rprowi {
    width:100%;
    margin-top:10px; padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
}
.RP_listselectedProduct th {
    font-size:11px; font-weight:bold; text-align:left;
    padding:5px 2px; vertical-align:middle;
    background-color:#e7e7e7;
}
.RP_listselectedProduct td {
    padding:10px 2px; vertical-align:middle;
    border-bottom:1px solid #e7e7e7;
}
.RP_listselectedProduct .rpbase {
    width:90px;
}
.RP_listselectedProduct .rpnote {
    
}
.RP_listselectedProduct .rpsort {
    width:100px;
}
.RP_listselectedProduct .rpcomd {
    width:60px;
    text-align:center;
}
.RP_listselectedProduct .rpcomd a {
    color:#c60;
}
.RP_listselectedProduct img {
    width:75px; border: 0px;
    border:1px solid #e7e7e7;
}



#RN_error {
    position:relative; float:left; width:100%;
    margin-left:5px; margin-top:5px;
    font-size:11px; color:#c61444;
}
.RN_listselectedNews {
    position:relative; float:left; width:100%;
    margin-top:20px;
}
.RN_listselectedNews .rnrowi {
    width:100%;
    margin-top:10px; padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
}
.RN_listselectedNews th {
    font-size:11px; font-weight:bold; text-align:left;
    padding:5px 2px; vertical-align:middle;
    background-color:#e7e7e7;
}
.RN_listselectedNews td {
    padding:10px 2px; vertical-align:middle;
    border-bottom:1px solid #e7e7e7;
}
.RN_listselectedNews .rnbase {
    width:90px;
}
.RN_listselectedNews .rnnote {
    
}
.RN_listselectedNews .rnsort {
    width:100px;
}
.RN_listselectedNews .rncomd {
    width:60px;
    text-align:center;
}
.RN_listselectedNews .rncomd a {
    color:#c60;
}
.RN_listselectedNews img {
    width:75px; border: 0px;
    border:1px solid #e7e7e7;
}


#RL_error {
    position:relative; float:left; width:100%;
    margin-left:5px; margin-top:5px;
    font-size:11px; color:#c61444;
}
.RL_listselectedLibraries {
    position:relative; float:left; width:100%;
    margin-top:20px;
}
.RL_listselectedLibraries .rlrowi {
    width:100%;
    margin-top:10px; padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
}
.RL_listselectedLibraries th {
    font-size:11px; font-weight:bold; text-align:left;
    padding:5px 2px; vertical-align:middle;
    background-color:#e7e7e7;
}
.RL_listselectedLibraries td {
    padding:10px 2px; vertical-align:middle;
    border-bottom:1px solid #e7e7e7;
}
.RL_listselectedLibraries .rlbase {
    width:90px;
}
.RL_listselectedLibraries .rlnote {
    
}
.RL_listselectedLibraries .rlsort {
    width:100px;
}
.RL_listselectedLibraries .rlcomd {
    width:60px;
    text-align:center;
}
.RL_listselectedLibraries .rlcomd a {
    color:#c60;
}
.RL_listselectedLibraries img {
    width:75px; border: 0px;
    border:1px solid #e7e7e7;
}

.rsscontent {
}
.rsscontent {
}
.rsscontent img {
    border:1px solid #ccc; float:left; margin:3px 10px 5px 0; max-width:100px;
}




.categorymulti{position:relative; float:left; width:100%;}
.categorymulti li{position:relative; padding:3px 0;}
.categorymulti .wrap{position:relative;float:left;}

.categorymulti ul.horizontal{padding:0;margin:0;list-style:none; position:relative; float:left; width:100%;}
.categorymulti ul.horizontal li{float:left;display:inline;width:285px;}
.categorymulti ul.horizontal .havesub { min-width:275px; border-bottom:1px solid #ccc; padding-bottom:3px; font-weight:bold; }

.categorymulti ul.vertical{padding:20px;margin:0;list-style:none;}
.categorymulti ul.vertical li{border:0;}
.categorymulti ul.vertical .wrap{min-width:190px;}
.categorymulti ul.vertical .havesub { }

.categorymulti ul.horizontal li ul.vertical{ }
.categorymulti ul.horizontal ul.vertical li ul.vertical{ }
.categorymulti ul.horizontal ul.vertical li .havesub {  }




/*filebanner*/
.FBfileattach {
    position:relative; float:left; width:100%;
    margin-bottom:20px;
}
.FBfileattach .fbsource {
    position:relative; float:left; width:100%;
    margin-bottom:10px;
}
.FBfileattach #FB_error {
    position:relative; float:left; width:100%;
    margin-left:5px; margin-top:5px;
    font-size:11px; color:#c61444;
}
.FBfileattach #FB_pnlUpload {
    position:relative; float:left; width:100%;
    margin-bottom:5px; margin-top:4px;
}
.FBfileattach #FB_pnlGet {
    position:relative; float:left; width:100%; margin-right:10px;
    display:none;
}
.FBfileattach .fbhead {
    position:relative; float:left; width:100%;
    margin-bottom:10px;
    font-size:11px; font-weight:bold;
}
.FBfileattach .fbhead td {
    font-size:11px; font-weight:bold;
    padding:2px; vertical-align:middle;
}
.FBfileattach .fbbase {
    width:35%;
}
.FBfileattach .fbnote {
    width:40%;
}
.FBfileattach .fbsort {
    width:10%;
}
.FBfileattach .fbcomd {
    text-align:right;
}

#FB_listImage {
    position:relative; float:left; width:100%;
    margin-top:20px;
}
#FB_listImage .fbrowi {
    position:relative; float:left; width:100%;
    margin-top:10px; padding-bottom:10px;
    border-bottom:1px solid #e7e7e7;
}
#FB_listImage td {
    padding:2px; vertical-align:middle;
}
#FB_listImage .fbbase {
    width:35%;
}
#FB_listImage .fbnote {
    width:40%;
}
#FB_listImage .fbsort {
    width:10%;
}
#FB_listImage .fbcomd {
    text-align:center;
}
#FB_listImage .fbcomd a {
    color:#c60;
}
#FB_listImage img {
    width:75px; border: 0px;
    border:1px solid #e7e7e7;
}
