<?xml version="1.0"?>


<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
    <rewrites>
        
        <add name="News" virtualUrl="^~/vn/(.*)-(.*)-(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/news.aspx?subject=$1&amp;cid=$2&amp;iid=$3"
             ignoreCase="true" />
        <add name="Scontent" virtualUrl="^~/vn/view-(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/scontentview.aspx?cv=$1"
             ignoreCase="true" />
        <add name="Download" virtualUrl="^~/vn/download-(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/download.aspx?elink=$1"
             ignoreCase="true" />
        <add name="Search" virtualUrl="^~/vn/search-in(.*)-c(.*)-k(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/search.aspx?searchin=$1&amp;cid=$2&amp;keywords=$3"
             ignoreCase="true" />
        <add name="Dictionaryo" virtualUrl="^~/vn/d(.*)d(.*)d=(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/dictionary.aspx?cid=$1&amp;iid=$2&amp;subject=$3"
             ignoreCase="true" />
        <add name="Dictionarym" virtualUrl="^~/vn/dictionary-(.*)-(.*)-at-(.*).aspx"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vn/dictionary.aspx?lb=$1&amp;ll=$2&amp;lk=$3"
            ignoreCase="true" />

    </rewrites>
</urlrewritingnet>

