<?xml version="1.0"?>


<urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="default.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
    <rewrites>
      
      <!--<add name="News" virtualUrl="^~/(.*)-(.*)-(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/news.aspx?subject=$1&amp;cid=$2&amp;iid=$3"
             ignoreCase="true" />-->      
      
        <add name="Scontent" virtualUrl="^~/view-(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/scontentview.aspx?cv=$1"
             ignoreCase="true" />
        <add name="Download" virtualUrl="^~/download-(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/download.aspx?elink=$1"
             ignoreCase="true" />
        <add name="Search" virtualUrl="^~/search-in(.*)-c(.*)-k(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/search.aspx?searchin=$1&amp;cid=$2&amp;keywords=$3"
             ignoreCase="true" />
        <add name="Dictionaryo" virtualUrl="^~/d(.*)d(.*)d=(.*).aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/dictionary.aspx?cid=$1&amp;iid=$2&amp;subject=$3"
             ignoreCase="true" />
        <add name="Dictionarym" virtualUrl="^~/dictionary-(.*)-(.*)-at-(.*).aspx"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vn/dictionary.aspx?lb=$1&amp;ll=$2&amp;lk=$3"
            ignoreCase="true" />
      <!--search.aspx?searchin=12&cid=&keywords="Phương trình kế toán cơ bản"-->
      <add name="SearchTag" virtualUrl="^~/tim-kiem-(.*)-(.*).aspx"
            rewriteUrlParameter="ExcludeFromClientQueryString"
            destinationUrl="~/vn/search.aspx?searchin=$1&amp;cid=&amp;keywords=$2"
            ignoreCase="true" />
      
      <add name="News2" virtualUrl="^~/(.*)/(.*).aspx"
                     rewriteUrlParameter="ExcludeFromClientQueryString"
                     destinationUrl="~/vn/news2.aspx?cid=$1&amp;iid=$2"
                     ignoreCase="true" />
        <add name="Home" virtualUrl="^~/index.aspx"
             rewriteUrlParameter="ExcludeFromClientQueryString"
             destinationUrl="~/vn/home.aspx?"
             ignoreCase="true" />
        <add name="News3" virtualUrl="^~/(.*).aspx"
               rewriteUrlParameter="ExcludeFromClientQueryString"
               destinationUrl="~/vn/news.aspx?subject=$1"
               ignoreCase="true" />
    </rewrites>
</urlrewritingnet>

